<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="Console" name="Console"
				layout="${MicrosoftConsoleLayout}" />

		<target xsi:type="File" name="File"
				fileName="Logs/${level}-${shortdate}.log"
				keepFileOpen="true" concurrentWrites="true"
				archiveAboveSize="1024*1024*1024" maxArchiveFiles="10"
				layout="${time}:[${logger}]:[${callsite-filename}]${newline}${message}:${exception:format=tostring}" />
	</targets>
	
	<rules>
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		
		<logger name="*" minlevel="Info" writeTo="Console, File" final="true"/>
	</rules>
</nlog>
